* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: rgb(238, 174, 202);
    background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    font-family: 'Poppins';
}

.reg {

    /*background-color: skyblue;*/
    width: 50%;
    margin-left: 390px;

    margin-top: 20px;
}

h1 {
    background: rgb(148, 187, 233);
    background: linear-gradient(90deg, rgba(148, 187, 233, 1) 0%, rgba(238, 174, 202, 1) 100%);
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    font-size: 30px;
    color: rgb(34, 34, 34);
    font-style: oblique;

}

.info {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 15px;
    font-size: 15px;
}

.info label {
    font-style: oblique;
    font-weight: bold;
}


input[type=text] {
    width: 50%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid hsl(246, 25%, 77%);
}

input[type=tel] {
    width: 50%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid hsl(246, 25%, 77%);
}

input[type=submit] {
    padding: 8px;
    border-radius: 10px;
}

.gender {
    display: flex;
}

.female {
    margin-left: 50px;
}

select {
    padding: 7px;
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 6px;
}

textarea{
    padding: 10px;
    border-radius: 6px;
    border: 1px solid hsl(246, 25%, 77%);
}

.sub{
   /* background-color: yellow;*/
    width: 50%;

}

input[type=submit]{
    font-family: 'Poppins';
    font-style: bold;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background: rgb(148, 187, 233);
    background: linear-gradient(90deg, rgba(148, 187, 233, 1) 0%, rgba(238, 174, 202, 1) 100%);
   /* background-color: red;*/

}